<div class="min-container">
  <div class="row">
    <div class="col">
      <h1>About the Wild Mushroom Hunt</h1>
    </div>
    <div class="col-md-8">
      <p>Just need a teaspoon of summercep for your favorite risotto recipe?  Or does your recipe call for mitrophora semilibera or some other strange fungus that you've never heard of and will probably never use again? Did you know that many mushrooms have to be traced and brought down by expert gradpas during their adventuresome morning expeditions?
      Don't buy standard mushrooms from the grocery store that have been sitting on a shelf for days and will taste mouldy. Buy from The Wild Mushroom Hunt and discover the delicious diversity of the forest.
      Our sixteenth-generation, family owned shop offers a great selection of high quality, super fresh mushrooms at reasonable prices.</p>
    </div>
  </div>
</div>