
<div class="min-container">
  <div class="row">
    <div class="col">
      <h1>Get in touch</h1>
    </div>
    <div class="col-md-8">
      <p>If there's a mushroom, toadstool or fungi related item you don't see here, feel free to email us.  If we don't stock it, we can most likely get it for you during the next hunting expedition.  Any other questions, comments or suggestions, we're just an email away! 
      Email us at: mushroombooty@toadstool.net
      Or fill out the form below:</p>
    </div>
  </div>
</div>
