<div class="img-container-fluid">
  <%= image_tag("amethyst-blue-laccaria-forest-moss-48781.jpg", class:"img-fluid")%>
</div>
<h1> The Wild Mushroom Hunt </h1>
<h2> Your source for all the treasures of the forest</h2>


