<div class="content-box skew first-box">
  <h1>Contact us</h1>
  <div class="unskew">
    <div class="row">
      <div class="col-md-8">
        <p>Thank you. We have received your message and will reply as soon as possible!</p>
      </div>
      <div class="col-md-8">
        <%= link_to 'Back to the contacts page', simple_pages_contact_path %>
      </div>
    </div>
  </div>
</div>
