// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Remove Bootstrap Styles*/
@import 'simple_pages';

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
  grid-gap: 5px;
}

.product-card {
  background-color: white;
}

.card-content {
  padding: 10px;
}

.additional-options {
  margin-top: auto;
}

body {
  background-color: $superlight !important;
}