// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Remove Bootstrap Styles*/
@import 'simple_pages';

* {
  outline: 1px solid red;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
  grid-gap: 5px;
}

.product-card {
  background-color: white;
}

.card-content {
  padding: 10px;
}

.additional-options {
  margin-top: auto;
}

body {
  background-color: $superlight !important;
}


.product-box {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: white;
}


.column {
  flex: 1 0 60%;
  padding: 10px;
}

@media (min-width: 720px) {
  .product-box .column:first-child {
    flex: 0 0 40%;
  }
}