// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Remove Bootstrap Styles*/
@import 'simple_pages';

// * {
//   outline: 1px solid red;
// }

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
  grid-gap: 5px;
}

.product-card {
  background-color: white;
  position: relative;
}

.card-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.product-name a {
  text-transform: unset; 
  font-weight: $bold;
  letter-spacing: unset;
  font-size: 1.2em;
}

.additional-options {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

body {
  background-color: $superlight !important;
}

.pagination a,
.current {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.pagination .disabled {
  display: none;
}

.zoomWindow {
  width: 200px !important;
  height: 200px !important;
  left: unset !important;
  right: 20px !important;
  top: 180px !important;
  border: none !important;
}

.zoomLens {
  width: 100px !important;
  height: 100px !important;
}