<div class="content-box skew first-box">
  <h1>Products</h1>
  <div class = "unskew">
      <% if notice %>
        <p id="notice" class="alert alert-primary"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p id="alert" class="alert alert-primary"><%= alert %></p>
      <% end %>
      <div class="product-grid">
        <% @products.each do |product| %>
          <%= render partial: 'product', locals: {product: product} %>
        <% end %>
      </div>
    <hr>
    <%= link_to 'New Product', new_product_path %>
  </div>
</div>
